<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
					akka {
						actor {
                     provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                     
                     deployment {
                        /shipping {
                           router = round-robin-group
                           routees.paths = ["/user/shipping"]
                           nr-of-instances = 5
                           cluster {
											        enabled = on
											        max-nr-of-instances-per-node = 1
											        allow-local-routees = off
											        use-role = shipping
									        }
                        }
                        /statusUpdateReceiver {
                           router = broadcast-group
                           routees.paths = ["/user/statusUpdateReceiver"]
                           cluster {
											        enabled = on
											        max-nr-of-instances-per-node = 1
											        allow-local-routees = on
											        use-role = statusUpdateReceiver
									        }
                        }
                        /inventory {
                           router = round-robin-group
                           routees.paths = ["/user/inventory"]
                           cluster {
											        enabled = on
											        max-nr-of-instances-per-node = 1
											        allow-local-routees = on
											        use-role = inventory
									        }
                        }
                        /client {
                           router = round-robin-group
                           routees.paths = ["/user/client"]
                           cluster {
											        enabled = on
											        max-nr-of-instances-per-node = 1
											        allow-local-routees = off
											        use-role = client
									        }
                        }
                     }
                  }
                  
                  remote {
                    helios.tcp {
                      hostname = "127.0.0.1"
                      port = 0
                    }
                  }            

                  cluster {
                    seed-nodes = ["akka.tcp://iStuffOrderingSystem@127.0.0.1:4053"]
                    roles = [orderProcessing, statusUpdateReceiver]
                  }
               }
			]]>
    </hocon>
  </akka>

</configuration>